POSTGRES_DB=db_name
POSTGRES_USER=user_name
POSTGRES_PASSWORD=db_password

JWT_SECRET=your_secret

INTERNAL_WEBHOOK_SECRET=webhook_secret

FRONTEND_ORIGIN=frontend_url

NODE_ENV=your_env

HLS_PUBLIC_BASE=base_hls_url